<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet access for FastAPI backend -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Foreground location service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <!-- Notification permission for Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:label="Smart Ambulance"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAmbulance">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <!-- Welcome Screen - App Launcher -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--RegistrationActivity -->
        <activity
            android:name=".AmbulanceRegistrationActivity"
            android:exported="false" />

        <!-- Vehicle Registration -->
        <activity
            android:name=".VehicleRegistrationActivity"
            android:exported="false" />

        <!-- Login Screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Ambulance Dashboard -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Driver Dashboard -->
        <activity
            android:name=".DriverActivity"
            android:exported="false" />

        <!-- Driver Background Location Service -->
        <service
            android:name=".DriverLocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

    </application>

</manifest>